{% load static %}


{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon16x16.png">
        <title>Новости</title>
<!--CSS-->
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<!-- подключение фреймворка стилей bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<!--google-Шрифты-->
<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Open+Sans&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    </head>

        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-0 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              <object type="image/svg+xml" data="logo.svg">
                <img src="{% static 'main/img/logo.png' %}" alt="Arbat" >
              </object>
          </a>

          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Главная</a></li>
            <li><a href="" class="nav-link px-2 link-dark">Услуги</a></li>
            <li><a href="{% url 'news_home' %}" class="nav-link px-2 link-dark">Новости</a></li>
            <li><a href="" class="nav-link px-2 link-dark">FAQ</a></li>
            <li><a href="about" class="nav-link px-2 link-dark">О нас</a></li>
          </ul>
            {% if user.is_authenticated %}
            <div class="col-md-3 text-end">
<!--            <a href="accounts/logout/"><button type="button" class="btn btn-outline-dark me-2">Выйти</button></a>-->
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#profilemodal">Профиль</button>
                <button type="button" class="btn btn-dark">Мои заказы</button>
          </div>
            {% else %}
          <div class="col-md-3 text-end">
            <a href="accounts/login/"><button type="button" class="btn btn-outline-dark me-2">Войти</button></a>
              <a href="accounts/signup/"><button type="button" class="btn btn-dark">Регистрация</button></a>
          </div>
            {% endif %}
        </header>
      </div>
<style>
    .carousel-item img {
	filter: brightness(60%)
}
    .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
    .dark-img {
   filter: brightness(50%)
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

</style>
<!--modal window-->
    <div class="modal fade" id="profilemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Профиль</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <h5><strong>@username:</strong> {{ user.username }}</h5>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Закрыть</button>
          <form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-dark">{% trans 'Выйти из аккаунта' %}</button>
</form>
      </div>

    </div>
  </div>
</div>

      <main class="container-sm">
          <div class="card mt-3 mb-3">
              <h5 class="card-header">Тема: {{ article.title }}</h5>
              <div class="card-body">
                  <h5 class="card-title">Заказчик: {{ article.name }}, {{ article.company }}</h5>
                  <h5 class="card-title">Описание: {{ article.description }}</h5>
                  <h5 class="card-title">Ваш email: {{ article.email }}</h5>
                  <h5 class="card-title">Прикрепленные материалы: <a href="{{ article.link }}">{{ article.link }}</a></h5>
                  <p class="card-text">{{ article.full_text }}</p>
              </div>
          </div>
      </main>
      <footer class="footer mt-auto py-3 bg-light">
        <div class="container container-footer">
            <p>© 2016 - 2022 Arbat, Inc.</p>
        </div>
      </footer>
</html>